.main{
    margin-bottom: 5px;
    overflow: hidden;
    background: cornflowerblue;
}
.artistName{
    margin: 5px;
    color: black;
}
.trackName{
    padding: 5px;
}
.icon{
    font-size: 30px;
    color: wheat;
    background: blueviolet;
    padding: 5px;
    border-radius: 5px;
}
.icon:hover{
    cursor: pointer;
    background: crimson;
}
.select{
    color: black;
}
.paginator{
    background: #2a69a1;
    color: black;
    height: 200px;
}