.render {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    width: 1100px;
    height: 600px;
    overflow: hidden;
}
.photo img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.preload {
    color: red;
}