.formControl {

}
.formControl.error input,
.formControl.error textarea{
    border: 1px solid red;
}
.formControl span{
    color: red;
}
.formSummaryError{
    border: 1px solid darkred;
    padding: 5px;
    color: crimson;
}
.createField{
    white-space: nowrap;
    border-radius: 5px;
    margin: 5px;
    resize: none;
    grid-area: field;
}
.createFields{
    display: grid;
    grid-template-areas: "field text";
}
.text{
    color: aquamarine;
    grid-area: text;
}