header img {
    width: 200px;
}
.loginBlock{
    padding-left: 100px;
}
.header{
    grid-area: h;
    background: rgb(143,201,213);
    background: linear-gradient(37deg, rgba(143,201,213,1) 24%, rgba(62,119,255,1) 85%);
}
.qq{
    float: right;
    padding-right: 50px;
}
.qq img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.qq button{
    margin-left: 100px;
}
.qq span {
    margin-left: 100px;
}
.gg{
    float: right;
    padding-right: 50px;
}