.content{
}
.friendsNav{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    border: 1px solid black;
    align-items: center;
    justify-items: center;
}
.friendsNav button{
    width: 100px;
    grid-column-end: 5;
    margin-right: 50px;
}
.usersStyle{
    padding: 10px;
    border: 2px solid aquamarine;
    background: aquamarine;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}
.usersStyle:hover{
    color: white;
    border: 2px solid white;
    background: none;
}
